<div class="row">
  <aside class="span4">
    <section>
      <%= render 'shared/user_info' %>
      <span><%= pluralize(current_user.events.count, "event") %></span>      
    </section>
  </aside>
  <div class="span8">
    <div class="tabbable">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#list_of_all_events" data-toggle="tab">List of all events</a></li>
        <li><a href="#list_of_today_events" data-toggle="tab">List of today events</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="list_of_all_events">
          <h3>You have <%= pluralize(@events_all.count, "event") %></h3>
          <% if current_user.events.any? %>
            <ol class="events">
              <%= render @events_all %>
            </ol>
            <%= will_paginate @events_all %>
          <% end %>
        </div>
        <div class="tab-pane" id="list_of_today_events">
          <h3>Today you have <%= pluralize(@events_current.count, "event") %></h3>
          <% if current_user.events.any? %>
            <ol class="events">
              <%= render @events_current %>
            </ol>            
          <% end %>
        </div>
      </div>
    </div>    
  </div>
</div>
