<li class="events">  
  <span class="event_title">
    <% if current_user == event.user %>
      <%= link_to event.event_title, edit_user_event_path(current_user, event) %>
    <% else %>
      <%= event.event_title %>
    <% end%>
  </span>
  <span class="timestamp">
    Scheduled at <%= time_tag(event.scheduled_at.to_date) %> <%= event.recurrence %>.
  </span>
  <% if current_user == event.user %>
  <div class="content">
    <%= simple_format h(event.description) %>
  </div>
  <% end %>
  <% if current_user == event.user %>
    <%= link_to "Delete",  user_event_path(current_user.id, event.id), method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: event.event_title %>
  <% else %>
    Created by <%= event.user.email %>   
  <% end %>
</li>
